{% extends "app/base.html" %}
{% load static %}
{% block title %}
    Product Details
{% endblock title %}

{% block content %}
    <h1>product Details : {{product}}</h1>
<div class="container">
    <div class="row flex justify-content-between">
        <img src="{{product.image.url}}" class="image col-xs-6 col-sm-12 col-lg-12 mt-3 text-sm-center w-100 h-75 " alt="image"> 
    </div>
    <div class="productdetails col-lg-5">
        <h1 class="font-family: Georgia; font-size: 50px;">{{product.title}}</h1>
        <h5>{{product.price}}taka</h5>
        <br><br><h4>Product Descriptions</h4>

        <p>{{product.description}}</p>
        <br>
        <div class="buttons row flex" style="font-family: Rajdhani;">
            <form action="/add-to-cart" class="d-inline">
                <input type="hidden" name="prod_id" value="{{product.id}}">
                
            <button type="submit" class="d-grid gap-2 btn1 btn btn-danger p-1 m-1 btn-lg text-decoration-none text-white">Add to Cart</button>
        </form>
        <form action="/checkout" class="d-inline">
                            
            <input type="hidden" name="cart_id" value="{{cart.user}}">
            
            <button type="submit" class="btn btn-dark p-1 m-1 btn-lg"><a href="{% url 'checkout' %}" class="text-decoration-none text-white">Buy Now!</a></button>
        </form>
    </div>

</div>

{% endblock content %}